#perks {
    background-color: #282828;
    color: #999;
}

#perks h3{
    color:#999 !important;
}

#perks i {
    color: #999 !important;
}

.typed:empty:before {
    content:'|';
}

.product-name-index-page{
    color: #290B0B !important;
}

.product-price-index-page{
    color: #FF7043 !important;
}