<section id="page-title">

    <div class="container clearfix">
        <h1>로그인</h1>
    </div>

</section><!-- #page-title end -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <div class="accordion accordion-lg divcenter nobottommargin clearfix" style="max-width: 550px;">

                <div class="acctitle"><i class="acc-closed icon-lock3"></i><i class="acc-open icon-unlock"></i>로그인</div>
                <div class="acc_content clearfix">
                    <form id="login-form" name="login-form" class="nobottommargin" action="/login" method="post">
                        <div class="col_full">
                            <label for="username">이메일:</label>
                            <input type="email" id="login-form-username" name="username" value="" class="sm-form-control"
                                   placeholder="이메일을 입력해주세요"
                                   required/>
                        </div>

                        <div class="col_full">
                            <label for="password">비밀번호:</label>
                            <input type="password" id="login-form-password" name="password" value=""
                                   class="sm-form-control" placeholder="비밀번호를 입력해주세요" required/>
                        </div>

                        <div class="col_full nobottommargin">
                            <button class="button button-3d button-black nomargin" id="login-form-submit"
                                    name="login-form-submit" value="login">로그인
                            </button>
                            <a href="#" class="fright">비밀번호를 잊으셨어요?</a>
                        </div>
                    </form>
                </div>

                <div class="acctitle"><i class="acc-closed icon-user4"></i><i class="acc-open icon-ok-sign"></i>회원가입
                </div>
                <div class="acc_content clearfix">
                    <form id="register-form" name="register-form" class="nobottommargin" method="post" action="/login/new">
                        <div class="col_full">
                            <label for="register-form-last-name">성:</label>
                            <input type="text" id="register-form-last-name" name="register-form-last-name" value=""
                                   class="sm-form-control" placeholder="성을 입력해주세요"/>
                        </div>
                        <div class="col_full">
                            <label for="register-form-first-name">이름:</label>
                            <input type="text" id="register-form-first-name" name="register-form-first-name" value=""
                                   class="sm-form-control" placeholder="이름을 입력해주세요"/>
                        </div>

                        <div class="col_full">
                            <label for="register-form-email">이메일:</label>
                            <input type="email" id="register-form-email" name="register-form-email" value=""
                                   class="sm-form-control" placeholder="정확한 이메일을 입력해 주세요 예) example@gmail.com"/>
                            <input class="button button-border button-small button-border-thin button-blue"
                                   style="text-align: center; margin: 5px 0 0 0 !important;" value="이메일 중복 확인" onclick="checkDuplicateEmail()" readonly />
                        </div>

                        <div class="col_full">
                            <label for="register-form-address">주소:</label>
                            <input type="text" id="register-form-address" name="register-form-address" value=""
                                   class="sm-form-control" placeholder="주소 찾기를 눌러주세요" readonly/>
                            <input type="text" id="register-form-additional-address"
                                   name="register-form-additional-address" value=""
                                   class="sm-form-control" style="margin-top: 5px" placeholder="추가 주소"/>
                            <input class="button button-border button-small button-border-thin button-blue"
                                   onclick="sample3_execDaumPostcode()"
                                   style="text-align: center; margin: 5px 0 0 0 !important;" value="주소 찾기" readonly>
                            <div id="wrap"
                                 style="display:none;border:1px solid;width:500px;height:300px;margin:5px 0;position:relative">
                                <img src="//t1.daumcdn.net/localimg/localimages/07/postcode/320/close.png"
                                     id="btnFoldWrap"
                                     style="cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1"
                                     onclick="foldDaumPostcode()" alt="접기 버튼">
                            </div>
                            <input type="hidden" id="register-form-post-code" name="register-form-post-code" value=""
                                   class="sm-form-control" disabled/>
                        </div>

                        <div class="col_full">
                            <label for="register-form-phone">전화번호:</label>
                            <input type="text" id="register-form-phone" name="register-form-phone" value=""
                                   class="sm-form-control" placeholder="'-'을 제외한 전화번호를 입력해주세요 예)0101234567"/>
                        </div>

                        <div class="col_full">
                            <label for="register-form-password">비밀번호:</label>
                            <input type="password" id="register-form-password" name="register-form-password"
                                   value=""
                                   class="sm-form-control" placeholder="8 ~ 16자 사이의 비밀번호를 입력해주세요"/>
                        </div>

                        <div class="col_full">
                            <label for="register-form-repassword">비밀번호 확인:</label>
                            <input type="password" id="register-form-repassword" name="register-form-repassword"
                                   value="" class="sm-form-control" placeholder="같은 비밀번호를 입력해 주세요"/>
                        </div>

                        <div class="col_full nobottommargin">
                            <button type="submit" class="button button-3d button-black nomargin" id="register-form-submit"
                                    name="register-form-submit" value="register">회원가입 하기
                            </button>
                        </div>
                    </form>
                </div>

            </div>

        </div>

    </div>

</section><!-- #content end -->
